<div class='jumbotron'>
  <% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
    <strong><%= flash[:error] %></strong>
  </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:notice] %></strong>
    </div>
  <% end %>
</div>
<div class="page-body">
  <div class="pagehead">
    <div class="row">
      <div class="span6">
        <h1>Listing repos</h1>
      </div>
      <div class="span6">
        <div class="pull-right">
          <% if current_user %>
            <p><button class="btn btn-success btn-large" data-toggle="modal" href="#new-repo">
            <i class="icon-upload-alt"></i> Upload your repo</button></p>
          <% else %>
            <p><button class="btn btn-success btn-large" data-toggle="modal" href="#login-prompt">
            <i class="icon-upload-alt"></i> Upload your repo</button></p>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- end pagehead -->

  <!-- repos table -->
  <ul class='repos-list'>
    <%= render 'repos-list' %>
  </ul>
  
</div> <!-- end page-body -->

  <%= render :partial => 'modals/repo_uploader', :locals => { :repo => @repo_new } %>
  <%= render :partial => 'modals/login' %>