<p id="notice"><%= notice %></p>

<h1>Listing repos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Popularity</th>
    <th>Open Issues</th>
    <th>Watchers</th>
    <th>Issues Comment Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repos.sort_by(&:popularity).reverse.each do |repo| %>
  <tr>
    <td><%= link_to repo.name, repo %>
    <td><%= repo.popularity %></td>
    <td><%= repo.open_issues %></td>
    <td><%= repo.watchers %></td>
    <td><%= repo.issues_comment_count %>
    <td><%= link_to 'Show', repo %></td>
    <td><%= link_to 'Edit', edit_repo_path(repo) %></td>
    <td><%= link_to 'Destroy', repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repo', new_repo_path %>
