<p id="notice text-success"><%= notice %></p>

<div class="row repo-head">
    <div class ='span4'>
      <h3><strong><%= @repo.name %></strong> <small>by <%= link_to @repo.owner_name, owner_repos_path %></small></h3>
    </div>
    <div class ='span4'>
      <h5>Bounty Total for this Repo: <span class='money'><%= number_to_currency( @repo.calc_bounty_total, :precision => 0 ) %></span></h5>
    </div>
    <div class="span4">
    <h3 class="pull-right"><a class="btn btn-info btn-small" href="http://www.github.com/<%= @repo.owner_name %>/<%= @repo.name %>" target="blank">View repo on <i class='icon-github'></i></a></h3>
    </div>
</div>

<div class="row">
  <div class='span2'>
    <h5><i class='icon-eye-open'></i> Watchers: <%= @repo.watchers %></h5>
    <h5><i class='icon-trophy'></i> Popularity: <%= @repo.popularity %></h5>
    
    <% if @repo.description %>
      <h5>Description:</h5> <%= @repo.description %>
    <% end %>
  </div>
    <div class='span10'>
      <table class="table table-hover">
        <tr>
          <th>All Open Issues: <span class='counter'><%= @repo.open_issues %></span></th>
          <th>Issue Number</th>
          <th>Comments</th>
          <th>View on Github</th>
          <th>Bounties</th>
        </tr>
        <% @repo.issues.each do |issue| %>
          <% if issue.open? %>
            <tr>
              <td><%= link_to issue.title, owner_repo_gitnumber_path(@repo.owner_name, @repo.name, issue.git_number) %></center></td>
              <td><center><%= issue.git_number %></center></td>
              <td><center><%= issue.comment_count %></center></td>
              <td><center><a href='http://www.github.com/<%= @repo.owner_name %>/<%= @repo.name %>/issues/<%= issue.git_number %>' target='_blank'><i class='icon-github'></a></center></td>
               <% if current_user %>
                <% if issue.bounty_total > 0 %>
                <td><%= link_to owner_repo_gitnumber_path(@repo.owner_name, @repo.name, issue.git_number) do %>
                    <span class="label label-warning"><%= number_to_currency(issue.bounty_total, :raise => true, :precision => 0)%></span>
              <% end %></td>
               <% else %>
               <td><%= link_to owner_repo_gitnumber_path(@repo.owner_name, @repo.name, issue.git_number, :bounty => true) do %>
                <span class="label label-success">Post a bounty</span>
                 <% end %></td>
                  
            <% end %>
          <% else %>
            <% if issue.bounty_total ==  0 %>
               <td href="#login-prompt" data-toggle="modal"><span id="bounty-prompt" class="label label-success">Post a bounty</span></td>
            <% else %>
                <td href="#login-prompt" data-toggle="modal"><span id="bounty-prompt" class="label label-warning"><%= number_to_currency(issue.bounty_total, :raise => true, :precision => 0)%></span></td>
            <% end %>
          <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
</div>

