<p id="notice text-success"><%= notice %></p>

<div class="row repo-head">
    <div class ='span4'>
      <h3><%= link_to @repo.owner_name, owner_repos_path %> / <%= @repo.name %></h3>
    </div>
    <div class ='span4'>
      <h5>Bounty Total for this Repo: <span class='money'><%= number_to_currency( @repo.bounty_total, :precision => 0 ) %></span></h5>
    </div>
    <div class="span4">
    <h3 class="pull-right"><a class="btn btn-info btn-small" href="http://www.github.com/<%= @repo.owner_name %>/<%= @repo.name %>" target="blank">View repo on <i class='icon-github'></i></a></h3>
    </div>
</div>

<div class="row">
  <div class='span2'>
    <h5><i class='icon-eye-open'></i> Watchers: <%= @repo.watchers %></h5>
    
    <% if @repo.description %>
      <h5>Description:</h5> <%= @repo.description %>
    <% end %>
  </div>
    <div class='span10'>
      <table class="table table-hover">
        <tr>
          <th>All Open Issues: <span class='counter'><%= @repo.open_issues %></span></th>
          <th>Issue Number</th>
          <th>Comments</th>
          <th>View on Github</th>
        </tr>
        <% @repo.issues.each do |issue| %>
          <% if issue.open? %>
            <tr>
              <td><%= link_to issue.title, owner_repo_gitnumber_path(@repo.owner_name, @repo.name, issue.git_number) %></td>
              <td><%= issue.git_number %></td>
              <td><%= issue.comment_count %></td>
              <td><a href='http://www.github.com/<%= @repo.owner_name %>/<%= @repo.name %>/issues/<%= issue.git_number %>' target='_blank'><i class='icon-github'></a></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
</div>

