<p id="notice text-success"><%= notice %></p>

<div class="row">
    <div class ='span8'>
      <h3><%= link_to @repo.owner_name, owner_repos_path %> / <%= @repo.name %></h3>
    </div>
    <div class="span4">
    <h3 class="pull-right"><a class="btn btn-info btn-small" href="http://www.github.com/<%= @repo.owner_name %>/<%= @repo.name %>" target="blank">View Repo on Github</a></h3>
    </div>
</div>

<div class="row">
  <div class='span4'>
    <h5>Watchers: <%= @repo.watchers %></h5>
    <h5>Open_issues: <%= @repo.open_issues %></h5>
    <% if @repo.description %>
      <h5>Description:</h5> <%= @repo.description %>
    <% end %>
  </div>
    <div class='span8'>
      <table class="table table-hover">
        <tr>
          <th>All Open Issues</th>
          <th>Issue Number</th>
          <th>View on Github</th>
        </tr>
        <% @repo.issues.each do |issue| %>
          <% if issue.open? %>
            <tr>
              <td><%= link_to issue.title, owner_repo_gitnumber_path(@repo.owner_name, @repo.name, issue.git_number) %></td>
              <td><%= issue.git_number %></td>
              <td><a href='http://www.github.com/<%= @repo.owner_name %>/<%= @repo.name %>/issues/<%= issue.git_number %>' target='_blank'>View on Github</a></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
</div>

