<div class='span1'>
  <%= render :partial => 'avg_difficulty_index', :locals => { :issue => issue } %>
</div>
<div class='span2 bounty-text'>
  <% if current_user %>
    <% if issue.bounty_total == 0 %>
    <%= link_to owner_repo_gitnumber_path(issue.repo_owner, issue.repo, issue.git_number, :bounty => true) do %>
      <span class="text-success">Post a bounty</span>
    <% end %>
    <% else %>
      <%= link_to owner_repo_gitnumber_path(issue.repo_owner, issue.repo_name, issue.git_number) do %>
      <span class="label label-warning bounty-label"><%= number_to_currency(issue.bounty_total, :raise => true, :precision => 0)%></span>
      <% end %>
    <% end %>
  <% else %>
    <% if issue.bounty_total ==  0 %>
      <div href="#login-prompt" data-toggle="modal"><span id="bounty-prompt" class="text-success">Post a bounty</span></div>
    <% else %>
    <div href="#login-prompt" data-toggle="modal"><span id="bounty-prompt" class="label label-warning"><%= number_to_currency(issue.bounty_total, :raise => true, :precision => 0)%></span></div>
    <% end %>
  <% end %>
</div>
  <!-- <td id="issue-endorcement">
    <%# if issue.owner_endorsement == 1 %>
        <span class="label label-success">YES!</span>
    <%# elsif issue.owner_endorsement == -1 %>
        <span class="label label-important">No</span>
    <%# else %>
        <span class="label"> ? </span>
    <%# end %>
  </td> -->