<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :repo_name %><br />
  <p><%= f.text_field :repo_name %></p>
  <%= f.label :git_number %><br />
  <p><%= f.text_field :git_number %></p>
  <p><%= f.submit %></p>
<% end %>

