<div class="table_div">
  <table id="issues_table" class="display" style="display:none">
    <thead>
      <tr>
        <th></th>
        <th>Issue Name</th>
        <th>Repo Name/ #Issue</th>
        <th>Comment Count</th>
        <!-- <th>Popularity</th> -->
        <th>Score</th>
        <!-- <th>Downvote</th> -->
        <th>OwnerEnd</th>
        <th>Bounty</th>
      </tr>
    </thead>
    <tbody>
    <% @issues.sort_by(&:popularity).reverse.each do |issue| %>
      <tr id="issue_<%= issue.id %>">
        <%= render 'issue_vote', :issue => issue %>

        <td><%= link_to(truncate(issue.title, length:60), owner_repo_gitnumber_path(issue.repo.owner_name, issue.repo.name, issue.git_number)) %></td>
        <td><%= link_to issue.repo.name, owner_repo_path(issue.repo.owner_name, issue.repo.name) %> / <%= issue.git_number %></td>
        <td><%= issue.comment_count %></td>
        <td class="votes"><%= issue.vote_count %></td>
        <% if issue.owner_endorsement == 1 %>
            <td><i class="icon-thumbs-up" ></i></td>
        <% elsif issue.owner_endorsement == 0 %>
            <td><i class="icon-arrow-right" ></i></td>
        <% else %>
            <td><i class="icon-thumbs-down" ></i></td>
        <% end %>
        <% if current_user %>
          <% if issue.bounty_total == 0 %>
           <td><%= link_to new_issue_bounty_path(issue.repo.owner_name, issue.repo, issue.git_number) do %>
            <span class="label label-success">Post a bounty</span>
             <% end %></td>
          <% else %>
              <td><%= link_to owner_repo_gitnumber_path(issue.repo.owner_name, issue.repo.name, issue.git_number) do %>
                  <span class="label label-warning"><%= number_to_currency(issue.bounty_total, :raise => true, :precision => 0)%></span>
              <% end %></td>
          <% end %>
        <% else %>
          <% if issue.bounty_total ==  0 %>
             <td href="#login-prompt" data-toggle="modal"><span id="bounty-prompt" class="label label-success">Post a bounty</span></td>
          <% else %>
              <td href="#login-prompt" data-toggle="modal"><span id="bounty-prompt" class="label label-warning"><%= number_to_currency(issue.bounty_total, :raise => true, :precision => 0)%></span></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
