
<div class="row" id='filter-bar'>
  <div class="span4">
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn active">All</button>
      <button class="btn">Has a Bounty</button>
      <button class="btn">Super Difficult</button>
      <button class="btn">Easy Only</button>
    </div>
  </div>
  <div class= "span2">
  </div>
  <!-- <div class="span4">
  <form class="form-search">
    <div class="input-append">
      <input type="text" class="span2">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
  </div> -->
<div class="span4">
  <div class="input-append">
  <%= form_tag(issues_path, :method => "get") do %> 
   <!-- need to add a :remote => true when transferring to js -->
    <%= text_field_tag 'search', nil, :placeholder => 'Enter a repository...' %>
    <button type="submit" class="btn">Search</button>
  <% end %>
  </div>
  </div>
</div>

<% @issues.sort_by(&:popularity).reverse.each do |issue| %>

  <li class='row issue_line_item'>
    <div class='span2'>
      <%= render 'issue_vote', :issue => issue %>
    </div>
    <div class='span6'>
      <div class='row' id='title'>
        <%= link_to(truncate(issue.title, length:100), owner_repo_gitnumber_path(issue.repo_owner, issue.repo_name, issue.git_number)) %>
      </div>
      <div class='row'>
        <div class='span2'>
          <p class="issue-comment-count"><%= pluralize issue.comment_count, "comment" %></p>
        </div>
        <div class='span2' id='repo-owner-and-name'>
          <%= link_to issue.repo_name, owner_repo_path(issue.repo_owner, issue.repo_name) %> / <%= link_to issue.repo_owner, owner_repos_path(issue.repo_owner) %>
        </div>
      </div>
    </div>
    <div class='span4' id='bounty-display'>
      <%= render :partial => 'bounty_list_display', :locals => { :issue => issue } %>
    </div>
  </li>

<% end %>
