<div class="user_vote_table">
 <% if current_user %>
    <div class="parent_class">
      <%= link_to vote_issue_path(issue.id, :upvote), :method => :put, :class => "upvote", remote: true do %>
        <ul class="unstyled">
          <% if current_user.voted_on?(issue) == :upvote %> 
              <li><i id="upvote-icon-<%= issue.id %>" class="icon-circle-arrow-up"></i></li>
          <% else %>
              <li><i id="upvote-icon-<%= issue.id %>" class="icon-arrow-up"></i></li>
          <% end %>
      <% end %>
          <%= link_to vote_issue_path(issue.id, :downvote), :method => :put, :class => "downvote", remote: true do %>
            <% if current_user.voted_on?(issue) == :downvote %>
              <li><i id="down-vote-icon-<%= issue.id %>" class="icon-circle-arrow-down"></i></li>
            <% else %>
              <li><i id="down-vote-icon-<%= issue.id %>" class="icon-arrow-down"></i></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div id="vote-prompt" href="#login-prompt" data-toggle="modal">
      <ul class="unstyled">
        <li><i class="icon-arrow-up"></i></li>
        <li><i class="icon-arrow-down"></i></li>
      </ul>
    </div>
  <% end %>

</div>