<div class="user_vote_table">
 <% if current_user %>
    <div class="parent_class">
      <%= link_to vote_issue_path(issue.id, :upvote), :method => :put, :class => "upvote", remote: true do %>
        <ul class="unstyled">
          <% if current_user.voted_on?(issue) == :upvote %> 
              <li id="upvote-issue-<%= issue.id %>">
                <i id="upvote-icon-<%= issue.id %>" class="icon-circle-arrow-up icon-large"></i>
              </li>
          <% else %>
              <li id="upvote-issue-<%= issue.id %>">
                <i id="upvote-icon-<%= issue.id %>" class="icon-arrow-up icon-large"></i>
              </li>
          <% end %>
        <% end %>
        <li><p class="issue-comment-count"><a id="link" rel="tooltip" data-placement="top" data-original-title="Points are a combination of the popularity on Github measured by the number of watchers, stars, and the number of comments on an issue blended with Gitbo metrics such as upvotes and owner endorsements"><span class="<%= issue.id %>_popularity_net" id="issue-<%= issue.id %>-popularity"><%= pluralize issue.popularity, "point" %></span></a> 
        </li>
        <%= link_to vote_issue_path(issue.id, :downvote), :method => :put, :class => "downvote", remote: true do %>
          <% if current_user.voted_on?(issue) == :downvote %>
            <li id="downvote-issue-<%= issue.id %>">
              <i id="down-vote-icon-<%= issue.id %>" class="icon-circle-arrow-down icon-large"></i>
            </li>
          <% else %>
            <li id="downvote-issue-<%= issue.id %>">
              <i id="down-vote-icon-<%= issue.id %>" class="icon-arrow-down icon-large"></i>
            </li>
          <% end %>
        <% end %>
        </ul>
    </div>
  <% else %>
    <div id="vote-prompt" href="#login-prompt" data-toggle="modal">
      <ul class="unstyled">
        <li><i class="icon-arrow-up icon-large"></i></li>
          <li><p class="issue-comment-count"><a id="link" rel="tooltip" data-placement="top" data-original-title="Points are a combination of the popularity on Github measured by the number of watchers, stars, and the number of comments on an issue blended with Gitbo metrics such as upvotes and owner endorsements"><span class="<%= issue.id %>_popularity_net" id="issue-<%= issue.id %>-popularity"><%= pluralize issue.popularity, "point" %></span></a> 
        </li>
        <li><i class="icon-arrow-down icon-large"></i></li>
      </ul>
    </div>
  <% end %>

</div>