<% if flash[:notice] %> 
  <div  class='alert alert-success'>
    <button type="button" class="close" data-dismiss="alert">×</button> 
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:error] %> 
  <div  class='alert alert-error'>
    <button type="button" class="close" data-dismiss="alert">×</button> 
    <%= flash[:error] %>
  </div>
<% end %>

<div class="page-body">
  <div class="pagehead">
    <div class="row">
      <div class="span6">
        <h1>All Issues</h1>
      </div>
      <div class="span6">
        <div class="pull-right">
          <% if current_user %>
          <p><button class="btn btn-success btn-large" data-toggle="modal" href="#new-repo">
            <i class="icon-upload-alt"></i> Upload your repo</button></p>
          <% else %>
            <p><button class="btn btn-success btn-large" data-toggle="modal" href="#login-prompt">
            <i class="icon-upload-alt"></i> Upload your repo</button></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- issues list -->
  <ul class='issues_list'>
    <%= render 'issues_list', remote: true %>
  </ul>

  <!-- end issues table -->

  <%= render :partial => 'modals/login' %>

  <%= render :partial => 'modals/repo_uploader', :locals => { :repo => @repo } %>
</div> <!-- end page-body -->
