<p id="notice"><%= notice %></p>
<% if current_user %>
  <% if repo_owner %>
  <div class="row">
    <div class="span7">
      <h4>This issue belongs to your repo. Please, consider endorsing it!</h4>
    </div>
   
    <div class="span5" id="endorse" style="display:none">
      <div class="pull-right">
        <div>
          <button class="btn btn-success btn-small"><%= link_to 'Endorse this issue', owner_endorsement_path(@issue, :endorsement), :method => :put %></button>
          <button class="btn btn-danger btn-small"><%= link_to 'Over my dead body', owner_endorsement_path(@issue, :disapproval), :method => :put %></button>
        </a></div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
  <!-- End repo-owner endorsement -->
  <!-- Refresh -->
  <div id="refresh-wrapper" style="display:none">
    <div id="refresh" class='btn btn-info'>Refresh</div>​
  </div>
<div class="row">
    <div class ='span8'>
      <h3><%= link_to @issue.repo.owner_name, owner_repos_path(@issue.repo.owner_name) %> / <%= link_to @issue.repo.name, owner_repo_path(@issue.repo.owner_name, @issue.repo.name) %></h3>
      <h4>Issue # <%= @issue.git_number %></h4>
    </div>
    <div class="span4">
    <h3 class="pull-right">
      <% if current_user %>
        <%= link_to "Issue Bounty", new_issue_bounty_path(@issue.repo.owner_name, @issue.repo.name, @issue.git_number), :class => "btn btn-success btn-small" %>
      <% else %>
        <button id="bounty" class="btn btn-success btn-small" type="button">Issue Bounty</button>
      <% end %>
      <a class="btn btn-info btn-small" href="http://www.github.com/<%= @issue.repo.owner_name %>/<%= @issue.repo.name %>/issues/<%= @issue.git_number %>" target="blank">View Issue on Github</a>
    </h3>
  </div>
  </div>

<div class="row">
  <div class="span12">
    <h3>Current Bounties</h3>
  </div>
</div>

<% if @issue.bounties.count != 0 %>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Bounty Issued by</th>
          <th>Bounty Price</th>
          <th>Bounty Issued</th>
          <th>Bounty Updated</th>
        </tr>
      </thead>

 <% @issue.bounties.sort_by(&:price).reverse.each do |bounty| %>
  <tr>
    <td><%= bounty.user.nickname %></td>
    <td><%= number_to_currency(bounty.price, :precision => 0) %></td>
    <td><%= time_ago_in_words( bounty.created_at ) %> ago</td>
    <td><%= time_ago_in_words( bounty.updated_at ) %> ago</td>
  </tr>
<% end %>
</table>
  <% else %>
  <div class='span12'>
    <%= link_to "Issue Bounty", new_issue_bounty_path(@issue.repo.owner_name, @issue.repo.name, @issue.git_number), :class => "btn btn-success btn-small pull-right" %>
    <p>There are currently no bounties for this issue</p>
  </div>
<% end %>
<div class='clearfix'></div>

<div id="show_issue">
  <div class="issue-head clearfix">
    <span class="back">
      <span class="icon-arrow-left"></span>
      <%= link_to 'View All Issues', owner_repo_path %>
    </span>
    <span class="number pull-right">Issue # <strong><%= @issue.git_number %></strong></span>
  </div>

<!-- sidebar with badge and stats-->

  <div class="discussion-sidebar" class="span2">
    <div class="discussion-stats">
      <span class="endorsement">
        <% if @issue.owner_endorsement == 1%>
          <span class="badge badge-success">Endorsed</span>
        <% elsif %>
          <span class="badge">Not Yet</span>
        <% else %>
          <span class="badge badge-important">Not Endorsed</span>
        <% end %>
      </span>
      <span><strong><%= @issue.comment_count %></strong> Comments<span>
    </div>
    <hr>
  </div>
  <!-- main block with description and comments -->
    <div class='span10'>
      <div class='row'>
        <div class="issue-bubble">
          <img src="<%= @issue.owner_image %>" class='comment-avatar'>
          <div class='issue-content bubble'>
            <div class='issue-inner'>
              <div class='issue-header'>
                <span class='issue-author'>
                  <p><%= @issue.owner_name %> opened this pull request</p>
                </span>
                <h4><%= @issue.title %></h4>
              </div>
              <div class='issue-description-content'>
                <div class='description-body'>
                  <p><%= markdown @issue.body %></p>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>

    <% @issue.comments.each do |comment| %>
    <% if comment.git_update_at %>
      <div class='row'>
        <div class='comment-container'>
          <img src="<%= comment.owner_image %>" class='comment-avatar'>
          <div class='comment-content bubble'>
            <div class='content-container-inner'>
              <div class='comment-header'>
                <div class='comment-author'>
                  <p><%= comment.owner_name %></p>
                </div>
                <div class='pull-right header-date'>
                  <time><%= time_ago_in_words(comment.git_update_at) %> ago</time>
                </div>
              </div>
              <div class='comment-content'>
                <p><%= markdown comment.body %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
     <!--  <div class='row'>
        <div class='comment-container'>
          <%# if current_user %>
            <img src="<%#= current_user.image %>" class='new-comment-avatar'>
            <div class='comment-content bubble'>
              <div class='comment-content'>
                <div class='comment form'>
                  <div class='new-comment-bucket'>
                    <%#= render 'comment_form' %>
                  </div>
                </div>
              </div>
            <%# end %>
          </div>
        </div>
      </div> -->
    </div>
  </div>    
</div>

<script type="text/javascript">

  var oldTime = new Date('<%= @issue.updated_at %>');

  setInterval(function() {
    var url = '<%= "/#{@issue.repo.owner_name}/#{@issue.repo.name}/issues/#{@issue.git_number}.json" %>'
    $.getJSON(url, {}, function(json){
      var newTime = new Date(Date.parse(json.updated_at));
      console.log(newTime)
      
      if (oldTime.valueOf() != newTime.valueOf()){
        console.log('diff')
        $('div#refresh-wrapper').removeAttr('style');
        $('div#refresh').fadeTo(5000);
        $('div#refresh').click(function(){
          location.reload();
        });
      }
    });
  }, 4000);

</script>

