<p id="notice"><%= notice %></p>
  <% if current_user %>
    <% if repo_owner %>
    <div class="row">
      <div class="span7">
        <h4>This issue belongs to your repo. Please, consider endorsing it!</h4>
      </div>
      <div class="span5">
        <div class="pull-right">
          <div class="btn-group">
            <button class="btn btn-success btn-large"><%= link_to 'Endorse this issue', owner_endorsement_path(@issue, :endorsement), :method => :put %></button>
            <button class="btn btn-danger btn-large"><%= link_to 'Don\'t endorce', owner_endorsement_path(@issue, :disapproval), :method => :put %></button>
          </a></div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class ='span8'>
      <h3><%= link_to @issue.repo.owner_name, owner_repos_path(@issue.repo.owner_name) %> / <%= link_to @issue.repo.name, owner_repo_path(@issue.repo.owner_name, @issue.repo.name) %></h3>
    </div>
    <div class="span4">
      <h3 class="pull-right"><a class="btn btn-info btn-large" href="http://www.github.com/<%= @issue.repo.owner_name %>/<%= @issue.repo.name %>/issues/<%= @issue.git_number %>" target="blank">View Issue on Github</a></h3>
    </div>
  </div>

<div class="row">
  <div class='span10 pull-right'>
    <div class='row'>
      <div class="issue-bubble">
        <img src="<%= @issue.owner_image %>" class='comment-avatar'>
        <div class='issue-content bubble'>
          <div class='issue-inner'>
            <div class='issue-header'>
              <span class='issue-author'>
                <p><%= @issue.owner_name %> opened this pull request</p>
              </span>
              <h4><%= @issue.title %></h4>
            </div>
            <div class='issue-description-content'>
              <div class='description-body'>
                <p><%= @issue.body.html_safe %></p>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>

      <% @issue.comments.each do |comment| %>
    <div class='row'>
      <div class='comment-container'>
        <img src="<%= comment.owner_image %>" class='comment-avatar'>
        <div class='comment-content bubble'>
          <div class='content-container-inner'>
            <div class='comment-header'>
              <div class='comment-author'>
                <p><%= comment.owner_name %></p>
              </div>
              <div class='pull-right header-date'>
                <time><%= time_ago_in_words(comment.git_update_at) %> ago</time>
              </div>
            </div>
            <div class='comment-content'>
              <p><%= comment.body %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class='row'>
      <div class='comment-container'>
        <img src="<%= current_user.image %>" class='new-comment-avatar'>
        <div class='comment-content bubble'>
          <div class='comment-content'>
            <div class='comment form'>
              <div class='new-comment-bucket'>
                <%= render 'comment_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




