<div class="page_head">
  <p id="notice"><%= notice %></p>
  <h3>Issue for <%= @issue.repo.name.capitalize %>: <%= @issue.title %> </h3>
</div>

<p>

</p>
<p>
  <b>Git Number:</b>
  <%= @issue.git_number %>
</p>
<p>
  <b>Description:</b>
  <%= @issue.body %>
</p>
<p>
  <b>Repo Name:</b>
  <%= @issue.repo.name %>
</p>


<%= link_to 'Back', repo_issues_path(@issue.repo.owner_name, @issue.repo) %>
