
<h3><%= @user.nickname %>'s Bounties</h3>

<p id="notice"><%= notice %></p>

<% if @user.bounties.count == 0 %>
  <div class='span12'>
    <p><%= @user.nickname %> has no bounties.</p>
  </div>
<% else %>
  <div class="bounties" id="bounties_table">
    <table class="table table-hover" id="bounties_table">
      <thead>
        <tr>
          <th></th>
          <th>Repo</th>
          <th>Issue number</th>
          <th>Bounty Price</th>
          <th>Bounty Issued</th> 
        </tr>
      </thead>

      <tbody>
        <% @user.bounties.sort_by(&:price).reverse.each do |bounty| %>
          <tr>
              <% if bounty.collected_by_user_id != 0 %>
              <td><form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_xclick">
              <input type="hidden" name="business" value="<%= User.find(collected_by_user_id).email %>">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="item_name" value="<%= bounty.issue.title %>">
              <input type="hidden" name="amount" value="<%= bounty.price %>">
              <input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
              </form></td>
              <% else %>
              <td><span class="label">Waiting to be solved</span></td>
              <!-- <td><button id="bounty-payment-prompt" class="btn btn-success btn-small" href="#bounty-payment" data-toggle="modal">Pay</button></td> -->
              <% end %>
              <td><%= link_to bounty.issue.repo_owner, owner_repos_path(bounty.issue.repo_owner) %>/<%= link_to bounty.issue.repo_name, owner_repo_path(bounty.issue.repo_owner, bounty.issue.repo_name) %></td>
              <td><%= link_to bounty.issue.git_number, owner_repo_gitnumber_path(bounty.issue.repo_owner, bounty.issue.repo_name, bounty.issue.git_number) %></td>
              <td><%= number_to_currency(bounty.price, :precision => 0) %></td>
              <td><%= time_ago_in_words( bounty.created_at ) %> ago</td>
              <td><a class="btn btn-info btn-small" href="http://www.github.com/<%= bounty.issue.repo_owner %>/<%= bounty.issue.repo_name %>/issues/<%= bounty.issue.git_number %>" target="blank"> View issue on <i class='icon-github'></i>
              </a></td>
            
            <!-- <td><%#= link_to "Edit", edit_issue_bounty_path( bounty.issue.repo_owner, bounty.issue.repo_name, bounty.issue.git_number, bounty.id ) %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>