<% if @repos.first %>
  <div class="span4">
    <h3 class="pull-right"><a class="btn btn-info btn-small" href="http://www.github.com/<%= @repos.first.owner_name %>" target="blank">View owner on <i class='icon-github'></i></a></h3>
    </div>
</div>

<div class="user-show-page">
  <ul id="myTab" class="nav nav-tabs">
    <li><a href="#user-repos" data-toggle="tab">Your repos</a>
    </li>
    <li class="active"><a href="#user-bounties" data-toggle="tab">Your bounties</a></li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane" id="user-repos"><%= render 'user-repos' %></div>
  <div class="tab-pane active" id="user-bounties"><%= render 'user-bounties' %></div>
</div>



 <!-- tab 1 -->
     
<% end %>
<!-- tab 2 -->
<br />



<!-- cached data -->
<% if owner_logged_in? && @user %>
<div class="user_info">
  <table style="float:left;">
    <thead>
      <tr>
        <th>Repos</th>
      </tr>
    </thead> 
    <tbody>
      <% @user.cached_repos.each do |repo| %>
          <tr><td><a data-toggle="modal" href="#new-repo<%= "_#{repo}" %>">
        <i class="icon-upload-alt"></i></a> <%= repo %></td></tr>
        <%= render :partial => 'modals/repo_uploader_prepopulated', :locals => { :repo_name => repo } %>
      <% end %>
    </tbody>
  </table>

  <table style="float:left;">
    <thead>
      <tr>
        <th>Following</th>
      </tr>
    </thead>
    <tbody>
      <% @user.cached_following.each do |user| %>
        <% if User.is_the_owner_registered?(user) %>
          <tr><td><%= link_to user, owner_repos_path(user) %></td></tr>
        <% else %>
          <tr><td><%= user %></td></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>


  <table style="float:left;">
    <thead>
      <tr>
        <th>Starred</th>
      </tr>
    </thead> 
    <tbody>
      <% @user.cached_starred.each do |repo| %>
        <% if Repo.is_registered?(repo) %>
           <tr><td><%= link_to repo[:owner_name], owner_repos_path(repo[:owner_name]) %>/<%= link_to repo[:name], owner_repo_path(repo[:owner_name], repo[:name]) %></td></tr>
        <% else %>
          <tr><td><%= repo[:owner_name] %>/<%= repo[:name] %></td></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div style="clear:both;"></div>
      
<% end %>

