<div class="row">

  <div class="span3" class="columns profilecols js-username">
    <div class="vcard">
      <div class="avatared">
        <img src="<%= @user.image %>" class='comment-avatar'>
        <h1>
          <span><%= @user.name %></span>
          <em><%= @user.nickname %></em>
        </h1>
      </div> <!-- end avatared-->
      <div class="details">
        <dl>
          <dt><span class="icon-envelope"></span></dt>
          <dd><a> <%= @user.email %> </a></dd>
          <!-- Please add any additional UserProfile details here as available -->
        </dl>
      </div> <!-- end details-->
    </div> <!-- end vcard-->
    <ul class="stats">
      <li>
        <strong><%= @user.cached_following.length %></strong>
        <span>following</span>
      </li>
      <li>
        <strong><%= @user.cached_starred.length %></strong>
        <span>starred</span>
      </li>
    </ul>
    <ul class="stats">
      <li>
        <strong>$<%= @user.bounty_total %></strong>
        <span>posted</span>
      </li>
    </ul> <!-- end stats--> 
  </div>
  
  <div class="span9 user_table">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#user-bounties" class="user_tab" data-toggle="tab">Bounties Offered</a></li>
      <li><a href="#user-repos" class="user_tab" data-toggle="tab">Gitbo repos</a>
      </li>
      <li><a href="#following" class="user_tab" data-toggle="tab">Github</a></li>
      <li><a href="#starred" class="user_tab" data-toggle="tab">Starred</a></li>
      <a class="btn btn-info btn-small" style="float:right;" href="http://www.github.com/<%= @user.nickname %>" target="blank">View owner on <i class='icon-github'></i></a>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="user-repos"><%= render 'user-repos' %></div>
      <div class="tab-pane active" id="user-bounties"><%= render 'user-bounties' %></div>
      
      <div class="tab-pane" id="following"><%= render 'following' %></div>
      <div class="tab-pane" id="starred"><%= render 'starred' %></div>
    </div>
  </div>
</div>
<%# end %>


