<h3><%= @user.nickname %>'s Bounties</h3>

<p id="notice"><%= notice %></p>

<% if @user.bounties.empty? %>
  <div class='span12'>
    <p><%= @user.nickname %> hasn't issued any bounties.</p>
  </div>

  <div class="span9">
    <ul class="nav nav-tabs" id="myTab">
      <li><a href="#user-repos" data-toggle="tab">Your repos</a>
      </li>
      <li class="active"><a href="#user-bounties" data-toggle="tab">Your bounties</a></li>
      <li><a href="#following" data-toggle="tab">Following</a></li>
      <li><a href="#starred" data-toggle="tab">Starred</a></li>
      <li><a href="#add-your-repos" data-toggle="tab">Upload your repos</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="user-repos"><%= render 'repos/repos-table' %></div>
      <div class="tab-pane active" id="user-bounties"><%= render 'user-bounties' %></div>
      
      <div class="tab-pane" id="following"><%= render 'following' %></div>
      <div class="tab-pane" id="starred"><%= render 'starred' %></div>
      <div class="tab-pane" id="add-your-repos"><%= render 'add-your-repos' %></div>
    </div>

  </div>
  <div class="span4">
    <h3 class="pull-right"><a class="btn btn-info btn-small" href="http://www.github.com/<%= @repos.first.owner_name %>" target="blank">View Profile on Github</a></h3>
    </div>
</div>
    
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Popularity</th>
        <th>Open Issues</th>
        <th>Watchers</th>
        <th>Issues Comment Count</th>
      </tr>
    </thead> 
    <% @repos.each do |repo| %>
    <tr>
      <td><%= link_to repo.name, owner_repo_path(repo.owner_name, repo.name) %></td>
      <td><%= repo.popularity %></td>
      <td><%= repo.open_issues %></td>
      <td><%= repo.watchers %></td>
      <td><%= repo.issues_comment_count %></td>
    </tr>

  <% end %> 
</table>
