<% if @repos.first %>
<div class="row">
  <div class="span8">
    <h3>All repos for <%= @repos.first.owner_name %></h3>
  </div>
  <div class="span4">
    <h3 class="pull-right"><a class="btn btn-info btn-small" href="http://www.github.com/<%= @repos.first.owner_name %>" target="blank">View owner on <i class='icon-github'></i></a></h3>
    </div>
</div>
    
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Popularity</th>
        <th>Open Issues</th>
        <th>Watchers</th>
        <th>Issues Comment Count</th>
      </tr>
    </thead> 
    <% @repos.each do |repo| %>
    <tr>
      <td><%= link_to repo.name, owner_repo_path(repo.owner_name, repo.name) %></td>
      <td><%= repo.popularity %></td>
      <td><%= repo.open_issues %></td>
      <td><%= repo.watchers %></td>
      <td><%= repo.issues_comment_count %></td>
    </tr>

    <% end %> 
  </table>

<% end %>

<% if owner_logged_in? && @user %>
<div class="user_info">
  <table style="float:left;">
  <thead>
    <tr>
      <th>Repos</th>
    </tr>
  </thead> 
      <% @user.cached_repos.each do |repo| %>
      <% #this is repeated logic in the table above... %>
        <%# if repo_uploaded?(repo) %>
          <!-- <tr><td><%#= link_to repo, owner_repos_path(user) %></td></tr> -->
        <%# else %>
          <tr><td><%= repo %></td></tr>
        <%# end %>
      <% end %>
  </table>


  <table style="float:left;">
  <thead>
    <tr>
      <th>Following</th>
    </tr>
  </thead> 
      <% @user.cached_following.each do |user| %>
        <% if User.is_the_owner_registered?(user) %>
          <tr><td><%= link_to user, owner_repos_path(user) %></td></tr>
        <% else %>
          <tr><td><%= user %></td></tr>
        <% end %>
      <% end %>
  </table>


  <table style="float:left;">
  <thead>
    <tr>
      <th>Starred</th>
    </tr>
  </thead> 
    <% @user.cached_starred.each do |repo| %>
       <tr><td><%= repo %></td></tr>
    <% end %>
  </table>
</div>
<div style="clear:both;"></div>
      
<% end %>

<% if @user && owner_logged_in?  %>
<h1><%= @user.nickname %>'s Bounties</h1>

<p id="notice"><%= notice %></p>

<% if @user.bounties.count == 0 %>
  <div class='span12'>
    <p><%= @user.nickname %> has no bounties.</p>
  </div>
<% else %>
  <div class="bounties" id="bounties_table">
    <table class="table table-hover" id="bounties_table">
      <thead>
        <tr>
          <th>Repo</th>
          <th>Issue number</th>
          <th>Bounty Price</th>
          <th>Bounty Issued</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.bounties.sort_by(&:price).reverse.each do |bounty| %>
          <tr>
            <td><%= link_to bounty.issue.repo.owner_name, owner_repos_path(bounty.issue.repo.owner_name) %>/<%= link_to bounty.issue.repo.name, owner_repo_path(bounty.issue.repo.owner_name, bounty.issue.repo.name) %></td>
            <td><%= link_to bounty.issue.git_number, owner_repo_gitnumber_path(bounty.issue.repo.owner_name, bounty.issue.repo.name, bounty.issue.git_number) %></td>
            <td><%= number_to_currency(bounty.price, :precision => 0) %></td>
            <td><%= time_ago_in_words( bounty.created_at ) %> ago</td>
            <td><%= link_to "Edit", edit_issue_bounty_path( bounty.issue.repo.owner_name, bounty.issue.repo.name, bounty.issue.git_number, bounty.id ) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<% end %>