<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @bounty.user.nickname %>
</p>

<p>
  <b>Issue:</b>
  <%= @bounty.issue.title %>
</p>

<p>
  <b>Price:</b>
  <%= @bounty.price %>
</p>


<%= link_to 'Edit', edit_bounty_path(@bounty) %> |
<%= link_to 'Back to Issue', owner_repo_gitnumber_path(@bounty.issue.repo.owner_name, @bounty.issue.repo.name, @bounty.issue.git_number) %>
