<div id="new-repo<%= "_#{repo_name if repo_name}" %>" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Upload Your Repo</h3>
  </div>
  <div class="modal-body">
    <%= form_for @repo do |f| %>
    <p>
      <%= f.label :owner_name %> <br />
      <%= f.text_field :owner_name, :value => current_user.nickname, :readonly => true %>
    </p>
    <p>
      <%= f.label :repo_name %><br />
      <%= f.text_field :name, :value => "#{repo_name if repo_name}", :readonly => true %>
    </p>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Create Repo', :class => 'btn btn-success' %>
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
  <% end %>
</div>